<h1>Doses for <%= @cocktail.name %></h1>



<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :ingredient_id, collection: @ingredients, as: :select %>
        <%= f.input :description %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
